body {
    font-family: 'Roboto', sans-serif;
    color: #e1dbdb;
    line-height: 1.2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(130deg, green, blue);
    margin: 0;
}

div {
    max-width: 500px;
    width: 200%;
    padding: 25px 30px;
    background-color: white;
    border-radius: 5px;
    color: #000;
    text-align: cente;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#resultado{
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0  2px 5px rgba(0,0,0, 0.2);
}

